@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Audiowide", "Rubik", monospace;
  font-size: 48px;
  background-color: #000011;
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: white;
  font: bold 48px "Audiowide";
}

h2 {
  color: white;
  font: bold 48px "Rubik";
}
